/* general styles */
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#container {
    margin-top: 50px;
    text-align: center;
}

* {
    color: white;
    background-color: black;
}

ul#hud {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul#hud li {
    margin-left: 5px;
    margin-right: 5px;
}

label {
    font-weight: bold;
}

button {
    margin: 30px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42;
    border-radius: 4px;
    -webkit-appearance: none;
}

button.toggle {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
button.toggle:hover {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}